body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #354c35; 
}

/* inner containers */
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 1, 1); 
  background-color: #f9f9f9; 
}

#currency-converter-container {
  width: 50%;
  margin-top: 20px;
}

#exchange-rates-container {
  width: 85%;
  padding: 20px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

/* header styling for titles of components */
h3, h4 {
  font-weight: 600;
  text-align: center;
}

/* styling for currency selection elements */

.form-label {
  margin-right: 8px;
  align-items: center;
  width: 75px;
}

/* switch arrows button styling */
.switch-button {
  background-color: #354c35;
  border-radius: 10px;
  margin: 0 30px 0 30px;
}

/* styling for currency options */
.currency-option {
  display: flex;
  align-items: center;
}

.currency-dropdown {
  width: 120px;
}

.currency-flag {
  margin-right: 8px;
  vertical-align: middle;
}

/* table styling for ExchangeRates.js */
.table {
  margin-top: 20px;
}

.table thead th {
  font-weight: bold;
  color: #444;
}

/* styling for error messages */
.text-danger {
  font-weight: 500;
  color: #dc3545;
  text-align: center;
}

/* styling for converted amount */
#converted-amt {
  font-weight: bold;
  /* emphasis color */
  color: #2d9cdb; 
  background-color: #e8f5fd;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 300px;
  margin: 10px auto;
}


